	/**
	 * Applies an adaptive threshold to an array.
	 * @param src Input Image.
	 * @param maxValue Value to assign to pixels that match the condition.
	 * @param adaptiveMethod adaptive threshold method to use.
	 * @param thresholdType Type of threshold to use.
	 * @param blockSize Size of a pixel area that is used to calculate a threshold.
	 * @param c Constant to subtract from the mean.
	 * @param dst Output of threshold.
	 */
	void $className::#func($step, ["src", "maxValue", "adaptiveMethod", "thresholdType", "blockSize", "c", "dst"]) {
		cv::adaptiveThreshold(src, dst, maxValue, adaptiveMethod, thresholdType, (int)blockSize, c);
	}
