	/**
	 * Calculates the sum of two Mats.
	 * @param src1 the first Mat.
	 * @param src2 the second Mat.
	 * @param out the Mat that is the sum of the two Mats.
	 */
	void $className::#func($step ["src1", "src2", "out"]) {
		cv::add(src1, src2, out);
	}
