	/**
	 * Computes the per element inverse of an image.
	 * @param src the image to invert.
	 * @param dst the inversion of the input image.
	 */
	void $className::#func($step ["src", "dst"]) {
		cv::bitwise_not(src, dst);
	}
