	/**
	 * Computes the per channel and of two Images.
	 * @param src1 The first image to use.
	 * @param src2 The second image to use.
	 * @param dst the result image when the and is performed.
	 */
	void $className::#func($step ["src1", "src2", "dst"]) {
		cv::bitwise_and(src1, src2, dst);
	}
