	/**
	 * Compares two Mats using designated method.
	 * @param src1 first Mat to compare.
	 * @param src2 second Mat to compare.
	 * @param cmpop Type of comparison to use.
	 * @param dst output Mat from the comparison.
	 */
	void $className::#func($step ["src1", "src2", "cmpop", "dst"]) {
		cv::compare(src1, src2, dst, cmpop);
	}
