	/**
	 * Extracts given channel from an image.
	 * @param src the image to extract.
	 * @param channel zero indexed channel number to extract.
	 * @param dst output image.
	 */
	void $className::#func($step ["src", "channel", "dst"]) {
		cv::extractChannel(src, dst, (int)channel);
	}
