	/**
	 * Performs a Laplacian on the Image.
	 * @param src Image to use Laplacian on.
	 * @param size Odd number that is size of the kernel.
	 * @param scale Scaling factor for Laplacian.
	 * @param delta offset for values in Laplacian.
	 * @param borderType pixel extrapolation method.
	 * @param dst Ouput of Laplacian. 
	 */
	void $className::#func($step ["src", "size", "scale", "delta", "borderType", "dst"]) {
		cv::Laplacian(src, dst, 0, (int)size, scale, delta, borderType);
	}
