	/**
	 * Performs a per element max.
	 * @param src1 first image to use.
	 * @param src2 second image to use.
	 * @param dst the per element max of two images.
	 */
	void $className::#func($step ["src1", "src2", "dst"]) {
		cv::max(src1, src2, dst);
	}
