	/**
	 * Subtracts the second Mat from the first.
	 * @param src1 the first Mat.
	 * @param src2 the second Mat.
	 * @param dst the Mat that is the subtraction of the two Mats.
	 */
	void $className::#func($step ["src1", "src2", "dst"]) {
		cv::subtract(src1, src2, dst);
	}
