	/**
	 * Adds two images where one is multiplied by a number.
	 * @param src1 first image.
	 * @param scale scale for the first image.
	 * @param src2 second image.
	 * @param dst output image
	 */
	void $className::#func($step ["src1", "scale", "src2", "dst"]) {
		cv::scaleAdd(src1, scale, src2, dst);
	}
