	/**
	 * Converts a color image into shades of grey.
	 *
	 * @param input The image on which to perform the desaturate.
	 * @param output The image in which to store the output.
	 */
	void $className::#func($step ["input", "output"]) {
		switch (input.channels()) {
			case 1:
				// If the input is already one channel, it's already desaturated
				input.copyTo(output);
				break;
			case 3:
				cv::cvtColor(input, output, cv::COLOR_BGR2GRAY);
				break;
			case 4:
				cv::cvtColor(input, output, cv::COLOR_BGRA2GRAY);
				break;
			default:
				throw "Input to desaturate must have 1, 3, or 4 channels";
		}
	}
