	/**
	 * Sets an output if a value is true.
	 *
	 * @param sw The boolean that determines the output.
	 * @param input The output if sw is true.
	 * @param output The output which is equal to the input or null.
	 */
	template<typename T>
	void $className::#func($step ["sw", "input", "output"]) {
		if (sw) {
			output = input;
		}
		else {
			output = NULL;
		}
	}
