#macro( cType $type )
#if( $type == "Double" )
double
#elseif( $type == "Integer" )
int
#elseif( $type == "Boolean" || "boolean")
bool
#else
$type#end #end

#macro(setter $source)
Set$source.value()($source.type() *$source.value())#end

#macro( func $step )
$tMeth.name($step.name())(#foreach($inp in $step.getInputs()) #cType($inp.type()) *$inp.name(), #end#foreach($out in $step.getOutputs()) #cType($out.type()) *#cName($out.name())#if($velocityCount <$step.getOutputs().size()), #end#end)#end