#macro(cType $type)#if($type.equals("Double") || $type.equals("Number"))
double#elseif($type.equals("Object"))
void#elseif ($type.equals("ContoursReport"))
vector<vector<Point> >#elseif ($type.equals("BlobsReport"))
vector<KeyPoint>#elseif ($type.equals("LinesReport"))
vector<Line>#elseif($type == "Integer" )
int#elseif($type == "Boolean" || "boolean")
bool#else
$type#end #end

#macro(setter $source)
set$source.value()(#cType($source.type()) *$source.value())#end

#macro(func $step)
$tMeth.name($step.name())(#foreach($inp in $step.getInputs()) #cType($inp.type()) *$inp.name(), #end#foreach($out in $step.getOutputs()) #cType($out.type()) *#cName($out.name())#if($velocityCount <$step.getOutputs().size()), #end#end)#end

#macro (newInput $input)
#if ($input.type().contains("CoreEnum"))
	int $input.name()$c = $input.value();
#elseif ($input.type().contains("Enum"))
	int $input.name()$c = $input.value();
#elseif ($input.type().equals("MaskSize") )
    String $input.name()$c = "$input.value()";
#elseif ($input.type().equals("FlipCode") || $input.type().equals("BlurType") )
	$input.type() $input.name()$c = $input.type()::#cvVal($input.value());
#elseif ($input.type().contains("Type") || $input.type().equals("Interpolation"))
	int $input.name()$c = #cvVal($input.value());
#elseif ($input.type().equals("String"))
	$input.type() $input.name()$c = "$input.value()";
#elseif ($input.type().equals("List"))
#set($inputEndValue = $input.value().length() - 1)
	double $input.name()${c}[] = {$input.value().substring(1,$inputEndValue)};
#elseif ($input.value().equals("null"))
	#cType($input.type()) $input.name()$c;
#elseif ($input.value().contains("source") || $input.value().contains("output"))
	#cType($input.type()) $input.name()$c= *$input.value();
#else
	#cType($input.type()) $input.name()$c = $input.value();
#end#end

#macro (cvVal $value)#if($value.equals("INF"))
NORM_INF#elseif($value.equals("L1"))
NORM_L1#elseif($value.equals("L2"))
NORM_L2#elseif($value.equals("MINMAX"))
NORM_MINMAX#elseif($value.equals("None"))
INTER_NEAREST#elseif($value.equals("Linear"))
INTER_LINEAR#elseif($value.equals("Cubic"))
INTER_CUBIC#elseif($value.equals("Lanczos"))
INTER_LANCZOS4#elseif($value.equals("Area"))
INTER_AREA#elseif($value.equals("Box Blur"))
BOX#elseif($value.equals("Gaussian Blur"))
GAUSSIAN#elseif($value.equals("Median Filter"))
MEDIAN#elseif($value.equals("Bilateral Filter"))
BILATERAL#else
$value#end#end

