/#pragma once

class $fileName{
	private:
		std::unordered_map<std::string,Object*> outputs;
	#foreach( $source in $pipeline.getSources())
          #cType($source.type()) *$source.name();
    #end

    #foreach($moving in $pipeline.getMovingThresholds())
          private Mat lastImageS$moving.num() = new Mat();
    #end

    public:
          void Process();
    #foreach($source in $pipeline.getSources())
          void #setter($source);
    #end

    #foreach( $step in $pipeline.getSteps() )
    #foreach( $out in $step.getOutputs() )
          #cType($out.type()) get${out.name()}();
	#end
	#end
}
