.root {
    -fx-font-family: "Roboto";
}

.main-window {
    -fx-pref-width: 100.0em;
    -fx-pref-height: 70.0em;
}

.menu-box {
    -fx-padding: 0.5em;
    -fx-spacing: 0.5em;
}

.pane-title {
    -fx-background-color: -fx-control-inner-background;
    -fx-font-weight: bold;
    -fx-padding: 1.0em;
    -fx-border-width: 1px;
}
.palette {
    -fx-min-width: 30em;
}

.operation {
    -fx-cursor: hand;
    -fx-hgap: 1em;
    -fx-padding: 0.5em;
    -fx-alignment: center-left;
    -fx-color: -fx-background;
    -fx-background-color: -fx-color;
}

.operation:hover {
    -fx-color: white;
}

.operation:pressed {
    -fx-color: -fx-pressed-base;
}

Label.operation-name {
    -fx-font-weight: bold;
}

Label.operation-description {
    -fx-wrap-text: true;
    -fx-alignment: top-left;
}

.previews, .palette {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.scroll-pane {
    -fx-background-color: -fx-control-inner-background;

}

.palette {
    -fx-pref-width: 40em;
}

.previews HBox {
    -fx-spacing: 1em;
    -fx-padding: 0.5em;
}

.socket-preview .title {
    -fx-font-weight: bold;
    -fx-padding: 0.5em;
}

.addSource {
    -fx-padding: 0.5em;
    -fx-spacing: 1em;
}

.addSource * {
    -fx-max-width: Infinity;
}

.sources {
    -fx-padding: 0.5em;
    -fx-spacing: 1em;
}

.source {
    -fx-padding: 0.5em;
    -fx-spacing: 1em;
    -fx-border-width: 1px;
    -fx-border-color: -fx-box-border;
    -fx-background-color: -fx-background;
}

Label.source-name {
    -fx-font-weight: bold;
    -fx-graphic-text-gap: 0.5em;
}

Button.add-source {
    -fx-padding: 0.5em;
}

.steps {
    -fx-spacing: 1em;
    -fx-padding: 0.5em;
}

.step {
    -fx-pref-width: 15em;
    -fx-border-color: -fx-box-border;
    -fx-background-color: -fx-background;
    -fx-padding: 1.0em;
    -fx-spacing: 0.5em;
}

Button.delete, Button.move-left, Button.move-right, .start-stoppable-button, .exception-witness-responder-button {
    -fx-padding: 0.2em 0.8em;
    -fx-pref-height: 2em;
    -fx-pref-width: 2em;
}

VBox.sockets {
    -fx-spacing: 0.5em;
}

.step .title {
    -fx-font-weight: bold;
}

.socket {
    -fx-hgap: 0.5em;
    -fx-vgap: 0.5em;
    -fx-spacing: 0.5em;
}

.socket .socket-control {
    -fx-pref-width: 12em;
}

.socket-handle {
    -fx-background-radius: 1em;
    -fx-min-width: 1em;
    -fx-min-height: 1em;
    -fx-max-width: 1em;
    -fx-max-height: 1em;
    -fx-cursor: hand;
}

.socket-handle:connecting {
    -fx-background-color:
    -fx-shadow-highlight-color,
        linear-gradient(to bottom, derive(-fx-outer-border, -20%), -fx-outer-border),
        linear-gradient(to bottom,
        derive(-fx-color, -22%) 0%,
        derive(-fx-color, -13%) 20%,
        derive(-fx-color, -11%) 50%);
    -fx-background-insets: 0 0 -1 0, 0, 1;
}

.socket-handle:connected {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-mark-color;
}

.socket-handle:connected:focused {
    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-mark-color;
    -fx-background-insets: -0.2, 1, 2, -1.4, 2.6;
    -fx-background-radius: 1em;
}

.small-icon-button {
    -fx-padding: 0.5em;
}

.source-header-box {
    -fx-padding: 0 0 0.5em 0;
}

.preview-box {
    -fx-spacing: 0.5em;
}

.connection {
    -fx-stroke: -fx-mark-color;
    -fx-fill: none;
}

.error-pop-over {
    -fx-padding: 0.5em;
}

.error-pop-over .titled-pane > .title {
    -fx-border-color: lightgrey;
    -fx-border-insets: 5 5 5 5;
    -fx-border-width: 1 0 0 0;
    -fx-border-style: dashed;
    -fx-background-color: transparent;
}

.error-pop-over .titled-pane > .title > .arrow-button .arrow  {
    -fx-background-color: grey;
}

.property-sheet .property-pane {
    -fx-hgap: 4em;
    -fx-vgap: 1em;
    -fx-padding: 0;
}

.exception-pane {
    -fx-vgap: 1em;
}

.exception-text {
    -fx-font-family: "Monospace";
}

.deploy-pane {
    -fx-spacing: 1em;
}

.deploy-pane GridPane {
    -fx-hgap: 1em;
    -fx-vgap: 1em;
    -fx-padding: 0;
}

.deploy-pane StackPane {
    -fx-pref-height: 2em;
}

.console {
    -fx-font-family: "Monospace";
}

.error-label {
    -fx-text-fill: red;
    -fx-font-weight: bold;
}

.info-label {
    -fx-font-weight: bold;
}

.about-window Label {
    -fx-font-size: 14;
}

.about-button:hover {
    -fx-background-color: gray;
    -fx-background-radius: 12;
    -fx-cursor: hand;
}

.about-button:hover Label {
    -fx-text-fill: white;
}
