	/**
	 * Extracts given channel from an image.
	 * @param src the image to extract.
	 * @param channel zero indexed channel number to extract.
	 * @param dst output image.
	 */
	void $tMeth.name($step.name())(Mat *src, double *channel, Mat *dst){
		extractChannel(*src,*dst,(int) *channel);
	}