	/**
	 * Apply a fixed-level threshold to each array element in an image.
	 * @param src Image to threshold.
	 * @param threshold threshold value.
	 * @param maxVal Maximum value for THRES_BINARY and THRES_BINARY_INV
	 * @param type Type of threshold to apply.
	 * @param dst output Image.
	 */
	void $tMeth.name($step.name())(Mat *src, double *thresh, double *maxVal, int *type, Mat *dst){
		threshold(*src, *dst, *thresh, *maxVal, *type);
	}