	/**
	 * Isolates overlapping objects from the background and each other.
	 *
	 * @param input The image used to create the watershed.
	 * @param contours The contours used to create the watershed.
	 * @param output The image where the output is stored.
	 */
	void $fileName::#func($step ["input", "contours", "output"]) {
		Mat markers(input->size(), CV_32SC1, Scalar(0.0));
		for (int i = 0; i < contours->size(); i++) {
			drawContours(markers, contours, i, Scalar::all((i + 1) * (255/contours->size())));
			}
		circle(markers, Point(5, 5), 3, Scalar::all(255), -1, LINE_8, 0);
		watershed(input, markers);
		markers->convertTo(output, CV_8UC1);
		bitwise_not(output, output);
	}