<div class="jumbotron">
  <div style="padding-left: 20px; padding-right: 20px;">
    <img src="images/GRIPLogo.png" class="img-responsive col-centered" alt="GRIP Logo"/>
  </div>
  <h1>Welcome to GRIP!</h1>
  <h2>Computer Vision for the rest of us.</h2>
  <p>GRIP (the Graphically Represented Image Processing engine) is an application for rapidly prototyping and deploying computer vision algorithms, primarily for robotics applications. <br /> Developing a vision program can be difficult because it is hard to visualize the intermediate results. <br /> GRIP simplifies and accelerates the creation of vision systems for experienced users and reduces the barrier to entry for inexperienced users. <br /> As a result, many teams with minimal computer vision knowledge successfully used GRIP in the 2016 FIRST Robotics Competition game.
</div>

<div class="row marketing">
  <div class='time-to'>
    <div class="row row-centered">
      <div class="col-xs-12 col-s-12 col-md-6 col-centered">
        <h2 class="time-to-header">
          <a href="https://github.com/WPIRoboticsProjects/GRIP/releases/latest" target="_blank">
            The latest release can be found here
          </a>
        </h2>
      </div>
    </div>
  </div>
</div>
