<div class="jumbotron">
  <div style="padding-left: 20px; padding-right: 20px;">
    <img src="images/GRIPLogo.png" class="img-responsive col-centered" alt="GRIP Logo"/>
  </div>
  <h1>Welcome to GRIP!</h1>
  <h2>Computer Vision for the rest of us.</h2>
  <p>GRIP (the Graphically Represented Image Processing engine) is a program for rapidly prototyping and deploying computer vision algorithms, primarily for robotics applications. <b>It is currently in a very early state of development</b>, should be ready in time for the 2016 FIRST Robotics Competition.</p>
</div>

<div class="row marketing">
  <div class='time-to'>
    <div class="row row-centered">
      <div class="col-xs-12 col-s-12 col-md-6 col-centered">
        <h2 class="time-to-header">
          <a href="https://github.com/WPIRoboticsProjects/GRIP/milestones" target="_blank">
            Alpha Coming Soon!
          </a>
        </h2>
      </div>
    </div>
    <span countdown='' date='November 10, 2015 12:00:00'>&nbsp;</span>
  </div>
</div>
