<div class="jumbotron">
  <div style="padding-left: 20px; padding-right: 20px;">
    <img src="images/GRIPLogo.png" class="img-responsive col-centered" alt="GRIP Logo"/>
  </div>
  <h1>Welcome to GRIP!</h1>
  <p>Computer Vision for the rest of us.</p>
</div>

<div class="row marketing">
  <div class='time-to'>
    <div class="row row-centered">
      <div class="col-xs-12 col-s-12 col-md-6 col-centered">
        <h2 class="time-to-header">Alpha Coming Soon!</h2>
      </div>
    </div>
    <span countdown='' date='October 15, 2015 12:00:00'>&nbsp;</span>
  </div>
</div>
