	/**
     * Applies a color Map to given Image.
     * @param src Image to apply Color Map to.
     * @param colorMap the type of color map to apply.
     * @param dst Output after Color Map is applied
     */
	public static void CV_applyColorMap(Mat src, int colorMap, Mat dst){
		imgproc.applyColorMat(src, dst, colorMap);
	}