	public enum FlipCode {
		X_AXIS(0),
		Y_AXIS(1),
		BOTH_AXES(-1);
		public final int value;
		FlipCode(int value) {
			this.value = value;
		}
	}
	public static void CV_flip(Mat src, FlipCode flipcode, Mat dst){
		core.flip(src,dst,flipcode.value);
	}