	/**
     * subtracts the second Mat from the first
     * @param src1 the first Mat
     * @param src2 the second Mat
     * @param out the Mat that is the subtraction of the two Mats
     */
	public static void CV_subtract(Mat src1, Mat src2, Mat out){
		core.subtract(src1, src2, out);
	}