    /**
     * Apply a fixed-level threshold to each array element in an image.
     * @param src Image to threshold.
     * @param threshold threshold value.
     * @param maxVal Maximum value for THRES_BINARY and THRES_BINARY_INV
     * @param type Type of threshold to appy.
     * @param dst output Image.
     */
	public static void CV_threshold(Mat src, double threshold, double maxVal, int type, Mat dst){
		imgproc.threshold(src, dst, threshold, maxVal, type);
	}