	/**
	 * Fills a point with given x and y values
	 * @param x the x value to put in the point
	 * @param y the y value to put in the point
	 * @param point the point to fill
	 */
	public static void New_Point(MutableOf<Number> x, MutableOf<Number> y, Point point){
		point.x = x.get().doubleValue();
		point.y = y.get().doubleValue();
	}