#parse("src/main/resources/edu/wpi/grip/ui/templates/operations/interpolation.vm")
    public static void Resize(Mat input,int width, int height,Interpolation interpolation, double b, Mat output){
        Imgproc.resize(input, output, new Size(width, height), 0.0, 0.0, interpolation.value);
	}