    public static void RGB_Threshold(Mat input, double[] red, double[] green, double[] blue, Mat out){
		Imgproc.cvtColor(input, out, Imgproc.COLOR_BGR2RGB);
		Core.inRange(out, new Scalar(red[0], green[0] ,blue[0]), new Scalar(red[1], green[1], blue[1]), out);
	}