    public static <T> void Switch(boolean sw, T onTrue, T onFalse, MutableOf<T> output){
        if(sw){
            output.set(onTrue);
        }
        else{
            output.set(onFalse);
        }
    }