    public static void Switch(boolean sw, Object onTrue,Object onFalse, Object output){
        if(sw){
            output = onTrue;
        }
        else{
            output = onFalse;
        }
    }