		//input
#foreach($input in $step.getInputs())
#newInput($input)
#end
		//output
#foreach($output in $step.getOutputs())
#if( $output.mutable() )
		#MutOf($output.type()) mutOf$output.name() = new #MutOf($output.type())();
#end
#end
		$tMeth.callOp($step);
#foreach($output in $step.getOutputs())
#if( $output.mutable() )
		$output.name() = mutOf${output.name()}.get();
#end
#end