	/**
	 * Computes the per channel xor of two images.
	 * @param src1 The first image to use.
	 * @param src2 The second image to use.
	 * @param dst the result image when the xor is performed.
	 */
	private void $tMeth.name($step.name())(Mat src1, Mat src2, Mat dst) {
		Core.bitwise_xor(src1, src2, dst);
	}