	/**
	 * Fills a point with given x and y values.
	 * @param x the x value to put in the point
	 * @param y the y value to put in the point
	 * @param point the point to fill
	 */
	private void $tMeth.name($step.name())(double x, double y, Point point) {
		point.x = x;
		point.y = y;
	}