	/**
	 * Normalizes or remaps the values of pixels in an image.
	 * @param input The image on which to perform the Normalize.
	 * @param type The type of normalization.
	 * @param a The minimum value.
	 * @param b The maximum value.
	 * @param output The image in which to store the output.
	 */
	private void $tMeth.name($step.name())(Mat input, int type, double a, double b, Mat output) {
		Core.normalize(input, output, a, b, type);
	}