	/**
	 * Computes the per channel or of two Images.
	 * @param src1 The first image to use.
	 * @param src2 The second image to use.
	 * @param dst the result image when the or is performed.
	 */
	public static void ${step.javaName()}(Mat src1, Mat src2, Mat dst){
		Core.bitwise_or(src1,src2,dst);
	}