	/**
	 * Extracts given channel from an image.
	 * @param src the image to extract.
	 * @param channel zero indexed channel number to extract.
	 * @param dst output image.
	 */
	public static void CV_extractChannel(Mat src, double channel, Mat dst){
		Core.extractChannel(src,dst,(int) channel);
	}