	/**
	 * Computes the transpose of a Mat.
	 * @param src the source Mat.
	 * @param dst the transpose of src.
	 */
	public static void ${step.javaName()}(Mat src, Mat dst){
		Core.transpose(src, dst);
	}