    public static class Blob {
        public final double x, y, size;

        protected Blob(double x, double y, double size) {
            this.x = x;
            this.y = y;
            this.size = size;
        }
    }
    public static void ${step.javaName()}(Mat input, double minArea, double[] circularity,
    Boolean darkBlobs, MatOfKeyPoint blobList){
        FeatureDetector blobDet = FeatureDetector.create(FeatureDetector.SIMPLEBLOB);

        try {
            File tempFile = File.createTempFile("config", ".xml");

            StringBuilder config = new StringBuilder();

            config.append("<?xml version=\"1.0\"?>\n");
            config.append("<opencv_storage>\n");
            config.append("<thresholdStep>10.</thresholdStep>\n");
            config.append("<minThreshold>50.</minThreshold>\n");
            config.append("<maxThreshold>220.</maxThreshold>\n");
            config.append("<minRepeatability>2</minRepeatability>\n");
            config.append("<minDistBetweenBlobs>10.</minDistBetweenBlobs>\n");
            config.append("<filterByColor>1</filterByColor>\n");
            config.append("<blobColor>"+(darkBlobs ? 0 : 255)+"</blobColor>\n");
            config.append("<filterByArea>1</filterByArea>\n");
            config.append("<minArea>"+minArea+"</minArea>\n");
            config.append("<maxArea>"+Integer.MAX_VALUE+"</maxArea>\n");
            config.append("<filterByCircularity>1</filterByCircularity>\n");
            config.append("<minCircularity>"+circularity[0]+"</minCircularity>\n");
            config.append("<maxCircularity>"+circularity[1]+"</maxCircularity>\n");
            config.append("<filterByInertia>1</filterByInertia>\n");
            config.append("<minInertiaRatio>1.0000000149011612e-01</minInertiaRatio>\n");
            config.append("<maxInertiaRatio>3.4028234663852886e+38</maxInertiaRatio>\n");
            config.append("<filterByConvexity>1</filterByConvexity>\n");
            config.append("<minConvexity>9.4999998807907104e-01</minConvexity>\n");
            config.append("<maxConvexity>3.4028234663852886e+38</maxConvexity>\n");
            config.append("</opencv_storage>\n");
            FileWriter writer;
            writer = new FileWriter(tempFile, false);
            writer.write(config.toString());
            writer.close();
            blobDet.read(tempFile.getPath());
        } catch (IOException e) {
            e.printStackTrace();
        }

        blobDet.detect(input, blobList);
    }