	/**
	 * Gets information about given Mat.
	 * @param src Mat to get info about.
	 * @param size the size of the Mat.
	 * @param empty if the Mat is empty.
	 * @param channels number of channels in the Mat.
	 * @param cols number of rows in the Mat.
	 * @param rows number of columns in the Mat.
	 * @param highestValue highest value contained in the Mat.
	 */
	#set( $Num = "Number" )
	#set( $bool = "Boolean" )
	private void ${step.javaName()}(Mat src, Size size, #MutOf($bool) empty, #MutOf($Num) channels,
	#MutOf($Num) cols, #MutOf($Num) rows, #MutOf($Num) highestValue){
		empty.set(Boolean.valueOf(src.empty()));
		channels.set(Integer.valueOf(src.channels()));
		cols.set(Integer.valueOf(src.cols()));
		rows.set(Integer.valueOf(src.rows()));
		highestValue.set(Integer.valueOf((int)(Core.minMaxLoc(src.reshape(1)).maxVal)));
		Size matSize = src.size();
		size.height = matSize.height;
		size.width = matSize.width;
	}