	public static void HSV_Threshold(Mat input, double[] hue, double[] sat, double[] val, Mat out){
		Imgproc.cvtColor(input, out, Imgproc.COLOR_BGR2HSV);
		Core.inRange(out, new Scalar(hue[0], sat[0] ,val[0]), new Scalar(hue[1], sat[1] ,val[1]), out);
	}