    @staticmethod
    def $tMeth.name($step.name())(src1, src2):
        """Calculates the sum of two Mats.
        Args:
            src1: A numpy.ndarray.
            src2: A numpy.ndarray.
        Returns:
            A numpy.ndarray that is the sum.
        """
        return cv2.add(src1,src2)