    @staticmethod
    def $tMeth.name($step.name())(src1, alpha, src2, beta, gamma):
        """Computes the weighted addition of two Mats
        Args:
            src1: a numpy.ndarray
            alpha: the weight for the first Mat
            src2: a numpy.ndarray
            beta: the weight for the second Mat
            gamma: Constant to add to each sum
        Returns:
            A numpy.ndarray
        """
        return cv2.addWeighted(src1, alpha, src2, beta, gamma)