    @staticmethod
    def $tMeth.name($step.name())(src1, src2):
        """Calculates the sum of two Mats
        Args:
            src1: a numpy.ndarray
            src2 a numpy.ndarray
        Returns:
            a numpy.ndarray that is the sum
        """
        return cv2.add(src1,src2)
