    @staticmethod
    def $tMeth.name($step.name())(src1):
        """Computes the per element inverse of an image.
        Args:
            src1: A numpy.ndarray.
        Returns:
            The inverse of the numpy.ndarray.
        """
        return cv2.bitwise_not(src1)