    @staticmethod
    def $tMeth.name($step.name())(src1, src2):
        """Computes the per channel exclusive or of two Images.
        Args:
            src1: a numpy.ndarray
        Returns:
            The inverse of the numpy.ndarray
        """
        return cv2.bitwise_xor(src1, src2)