    @staticmethod
    def $tMeth.name($step.name())(image, thres1, thres2, aperture_size, gradient):
        'Applies a canny edge detection to the image'
        aperture_int = (int) (aperture_size +0.5)
        return cv2.Canny(image, thres1, thres2, aperture_int, gradient)
