    @staticmethod
    def $tMeth.name($step.name())(image, thres1, thres2, aperture_size, gradient):
        'Applies a canny edge detection to the image'
        return cv2.Canny(image, thres1, thres2, apertureSize=(int)(aperture_size),
            L2gradient=gradient)
