    @staticmethod
    def $tMeth.name($step.name())(src, kernel, anchor, iterations, border_type, border_value):
        'Expands area of higher value in an image'
        return cv2.dilate(src, kernel, anchor, iterations = (int) (iterations +0.5),
                            borderType = border_type, borderValue = border_value)