    @staticmethod
    def $tMeth.name($step.name())(src, kSize, sigmaX, sigmaY, borderType):
        'Performs a Gaussian blur on the image'
        if (kSize == None):
            kSize = (1, 1)
        kSize_int = ((int)(kSize[0]),(int)(kSize[1]))
        return cv2.GaussianBlur(src, kSize_int, sigmaX=sigmaX, sigmaY=sigmaY, borderType=(int)(borderType))