    @staticmethod
    def $tMeth.name($step.name())(input, externalOnly):
        'Sets the values of pixels in a binary image to their distance to the nearest black pixel'
        if(externalOnly):
            mode = cv2.RETR_EXTERNAL
        else:
            mode = cv2.RETR_LIST
        method = cv2.CHAIN_APPROX_SIMPLE
        im2, contours, hierarchy =cv2.findContours(input, mode=mode, method=method)
        return contours