    @staticmethod
    def __switch(boolsw, onTrue, onFalse):
        'Selects an output from two inputs based on a boolean'
        if(boolsw):
            return onTrue
        else:
            return onFalse