    @staticmethod
    def __switch(boolsw, on_true, on_false):
        'Selects an output from two inputs based on a boolean'
        if(boolsw):
            return on_true
        else:
            return on_false