    @staticmethod
    def pipelineValve(boolsw, onTrue):
        'return a value if a value is true or None if it is false'
        if(boolsw):
            return onTrue
        else:
            return None