{
  "version": false,
  "dependencies": {},
  "globalDependencies": { {{^supportsES6}}
    "core-js": "registry:dt/core-js#0.0.0+20160317120654",{{/supportsES6}}
    "isomorphic-fetch": "registry:dt/isomorphic-fetch#0.0.0+20160505171433",
    "node": "registry:dt/node#6.0.0+20161014191813"
  }
}
