@import "theme.css";

/*
 * Controls
 */

.text-field, .text-area, .button, .toggle-button, .spinner, .toggle-switch, .combo-box, .choice-box, .check-box > .box, .radio-button .radio {
    -fx-background-color: base-dark;
}

.button:hover, .toggle-button:hover {
    -fx-background-color: darkgripgreen;
}

.button:pressed, .toggle-button:selected {
    -fx-background-color: base-light;
}

.toggle-button:pressed {
    -fx-background-color: derive(black, 60%);
}

.text-area .content {
    -fx-background-color: base-dark;
}

.text-field:focused, .text-area:focused .content {
    -fx-background-color: darkgripgreen;
}

/*
 * Spinner
 */

.increment-arrow-button, .decrement-arrow-button {
    -fx-background-color: base-dark;
}

.increment-arrow-button > *, .decrement-arrow-button > * {
    -fx-background-color: transparent;
}

.increment-arrow-button > .increment-arrow, .decrement-arrow-button > .decrement-arrow {
    -fx-background-color: gripgreen;
}

.increment-arrow-button:hover, .decrement-arrow-button:hover {
    -fx-background-color: derive(black, 60%);
}

.increment-arrow-button:pressed, .decrement-arrow-button:pressed {
    -fx-background-color: base-light;
}

/*
 * Check box
 */

.check-box .box {
    -fx-background-color: base-dark;
}

.check-box:hover .box {
    -fx-background-color: gripgreen;
}

.check-box:selected .mark {
    -fx-mark-color: gripgreen;
    -fx-background-color: darkgripgreen;
}

/*
 * Radio button
 */

.radio-button .dot {
    -fx-mark-color: gripsandy;
    -fx-mark-highlight-color: gripgreen;
}

.radio-button .radio:hover {
    -fx-background-color: darkgripgreen;
}

/*
 * Range slider and range bar
 */

.range-slider .range-bar {
    -fx-background-color: gripgreen;
}

.range-slider .track, .slider .track {
    -fx-background-color: base-dark;
}

.range-slider .high-thumb, .range-slider .low-thumb, .slider .thumb {
    -fx-background-color: gripsandy;
}

/**
 * Combo box
 */

.combo-box:selected {
    -fx-background-color: orange;
}

.combo-box .list-cell {
    -fx-background-color: base;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
}

.combo-box .list-cell:filled:selected {
    -fx-background-color: base-dark;
}

.combo-box-popup .list-view {
    -fx-background-color: base-dark;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0.0, 0, 0);
}

.combo-box-popup .list-view .list-cell {
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: base;
}

.combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: base-light;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: gripgreen;
}
