@import "controls.css";

* {
    -fx-smooth: true; /* Have some meaningless -fx- property here or Intellij will freak out */
    base: derive(black, 30%);
    base-dark: derive(black, 20%);
    base-light: derive(black, 40%);
    gripgreen: #6C6E58;
    darkgripgreen: #3E423A;
    gripsandy: #A4CFBE;
    -fx-text-fill: derive(white, -5%);
}

.root {
    -fx-font-family: "Roboto";
    -fx-background-color: base;
    -fx-accent: derive(gripgreen, 75%);
}

.dialog-pane, .dialog-pane > * {
    -fx-background-color: base;
}

.main-window {
    -fx-pref-width: 100.0em;
    -fx-pref-height: 70.0em;
}

/*
 * Menus and menu bars
 */

.menu-bar {
    -fx-background-color: base-dark;
}

.menu-box {
    -fx-padding: 0.5em;
    -fx-spacing: 0.5em;
}

.menu-button:hover {
    -fx-background-color: base-light;
}

.menu-button {
    -fx-background-color: base-dark;
}

.context-menu {
    -fx-padding: 0;
    -fx-border-color: gray;
    -fx-border-width: 1;
}

.context-menu * {
    -fx-background-color: gray;
}

.menu-item {
    -fx-background-color: base-light;
}

.menu-item > * {
    -fx-background-color: transparent;
}

.menu-item:hover {
    -fx-background-color: gripgreen;
}

.split-pane {
    -fx-background-color: base;
}

/*
 * Status bar
 */

.status-bar {
    -fx-background-color: base-dark;
}

.status-label {
    -fx-text-fill: white;
}

.status-bar > .separator {
    -fx-padding: 0 1em 0 1em;
}

.status-bar > .separator > .line {
    -fx-background-color: darkgripgreen;
    -fx-border-color: darkgripgreen;
    -fx-border-width: 1;
}

.pane-title {
    -fx-font-weight: bold;
    -fx-padding: 1.0em;
    -fx-background-color: base-light;
    -fx-text-fill: white;
}

.palette {
    -fx-min-width: 30em;
}

.search-field {
    -fx-background-radius: 0;
    -fx-background-color: derive(black, 15%);
}

.search-field:focused {
    -fx-background-color: derive(black, 15%);
}

.split-pane-divider {
    -fx-background-color: base-dark;
}

.split-pane-divider:hover, .split-pane-divider:pressed {
    -fx-background-color: derive(gripsandy, -20%);
}

.line {
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-border-color: rgba(0, 0, 0, 0.1);
    -fx-border-width: 1;
}

.steps {
    -fx-background-color: base;
}

.sources {
    -fx-background-color: base;
}

.previews, .previews > .scroll-pane, .previews > .scroll-pane > .viewport {
    -fx-background-color: base;
}

.viewport {
    -fx-background-color: base-dark;
}

/*
 * Operations in the palette
 */

.operation {
    -fx-cursor: hand;
    -fx-hgap: 1em;
    -fx-padding: 0.5em;
    -fx-alignment: center-left;
    -fx-background-color: base;
    -fx-border-color: base-dark;
}

.operation:hover {
    -fx-background-color: base-light;
}

.operation:pressed {
    -fx-color: -fx-pressed-base;
}

Label.operation-name {
    -fx-font-weight: bold;
}

Label.operation-description {
    -fx-wrap-text: true;
    -fx-alignment: top-left;
}

.previews, .palette {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.scroll-pane {
    /*-fx-background-color: -fx-control-inner-background;*/
}

.scroll-pane > .corner {
    -fx-background-color: base-dark;
}

/*
 * Palette and tabs
 */

.palette {
    -fx-pref-width: 40em;
}

.tab-header-background {
    -fx-background-color: base-dark;
}

.tab {
    -fx-background-color: base-light;
    -fx-background-radius: 0;
}

.tab:selected {
    -fx-background-color: gripgreen;
    -fx-text-fill: base-dark;
}

.tab-down-button {
    -fx-background-radius: 0.25em;
    -fx-background-color: base-light;
}

.tab-down-button:hover {
    -fx-background-color: derive(black, 60%);
}

.tab-down-button:pressed {
    -fx-background-color: darkgripgreen;
}

/*
 * Socket previews.
 */

.previews HBox {
    -fx-spacing: 1em;
    -fx-padding: 0.5em;
}

.socket-preview {
    -fx-border-color: black;
    -fx-border-width: 0.125em;
    -fx-padding: 0;
    -fx-background-radius: 0;
}

.socket-preview .title {
    -fx-font-weight: bold;
    -fx-padding: 0.5em;
    -fx-background-color: base-light;
    -fx-background-radius: 0;
    -fx-border-color: black;
    -fx-border-width: 0 0 0.125em 0;
}

.socket-preview * {
    -fx-border-width: 0;
}

.socket-preview > * { /* Catch potentially anonymous first-level children */
    -fx-background-color: base;
}

/*
 * Sources
 */

.sources-box {
    -fx-background-color: base;
}

.sources-box .separator .line {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.addSource {
    -fx-padding: 0.5em;
    -fx-spacing: 1em;
    -fx-background-color: transparent;
}

.addSource * {
    -fx-max-width: Infinity;
}

.sources {
    -fx-padding: 0.5em;
    -fx-spacing: 1em;
    -fx-background-color: transparent;
}

.source {
    -fx-padding: 0.5em;
    -fx-spacing: 1em;
    -fx-border-width: 0.125em;
    -fx-border-color: base-dark;
    -fx-background-color: base-light;
}

.socket-separator {
    -fx-padding: 1em;
}

Label.source-name {
    -fx-font-weight: bold;
    -fx-graphic-text-gap: 0.5em;
}

Button.add-source {
    -fx-padding: 0.5em;
}

.arrow {
    -fx-mark-color: gripgreen;
}

/*
 * Scroll bars
 */

.scroll-bar {
    -fx-background-color: base-dark;
    -fx-padding: 0;
}

.scroll-bar .track, .scroll-bar .track-background {
    -fx-background-color: base-dark;
}

.scroll-bar > .thumb {
    -fx-background-color: darkgripgreen;
}

/*
 * Steps
 */

.steps {
    -fx-spacing: 1em;
    -fx-padding: 0.5em;
}

.step {
    -fx-pref-width: 15em;
    -fx-background-color: base-light;
    -fx-padding: 1.0em;
    -fx-spacing: 0.5em;
    -fx-border-width: 0.125em;
    -fx-border-color: base-dark;
}

Button.delete, Button.move-left, Button.move-right, .start-stoppable-button, .exception-witness-responder-button {
    -fx-padding: 0.2em 0.8em;
    -fx-pref-height: 2em;
    -fx-pref-width: 2em;
}

.exception-witness-responder-button,
.exception-witness-responder-button:hover,
.exception-witness-responder-button:selected {
    -fx-background-color: transparent;
}

Button.delete:hover, Button.move-left:hover, Button.move-right:hover {
    -fx-background-color: base;
}

Button.delete:pressed, Button.move-left:pressed, Button.move-right:pressed {
    -fx-background-color: gripsandy;
}

.start-stoppable-button:running {
    -fx-background-color: gripsandy;
}

.start-stoppable-button:stopped {
    -fx-background-color: base;
}

.expand, .expand:hover, .expand:pressed {
    -fx-background-color: transparent;
}

VBox.sockets {
    -fx-spacing: 0.5em;
}

.step .title {
    -fx-font-weight: bold;
}

.socket {
    -fx-hgap: 0.5em;
    -fx-vgap: 0.5em;
    -fx-spacing: 0.5em;
}

.socket .socket-control {
    -fx-pref-width: 12em;
}

.small-icon-button {
    -fx-padding: 0.5em;
}

.source-header-box {
    -fx-padding: 0 0 0.5em 0;
}

.preview-box {
    -fx-spacing: 0.5em;
}

.connection {
    -fx-stroke: gripgreen;
    -fx-fill: none;
}

.error-pop-over {
    -fx-padding: 0.5em;
}

.error-pop-over * {
    -fx-text-fill: gripsandy !important;
}

.error-pop-over .error-message {
    -fx-fill: gripsandy;
}

.error-pop-over .border {
    -fx-stroke-width: 0.5em;
    -fx-fill: darkgripgreen !important;
}

.error-pop-over .content {
    -fx-background-color: base;
}

.error-pop-over .titled-pane > .title {
    -fx-border-color: gripgreen;
    -fx-border-insets: 5 5 5 5;
    -fx-border-width: 1 0 0 0;
    -fx-border-style: dashed;
    -fx-background-color: transparent;
}

.error-pop-over .text-area {
    -fx-background-color: base-dark !important;
    -fx-color: white;
    -fx-fill: orange;
    -fx-border-width: 0;
}

.property-sheet .property-pane {
    -fx-hgap: 4em;
    -fx-vgap: 1em;
    -fx-padding: 0;
}

.exception-pane {
    -fx-vgap: 1em;
}

.exception-text {
    -fx-font-family: "Monospace";
}

.deploy-pane {
    -fx-spacing: 1em;
}

.deploy-pane GridPane {
    -fx-hgap: 1em;
    -fx-vgap: 1em;
    -fx-padding: 0;
}

.deploy-pane StackPane {
    -fx-pref-height: 2em;
}

.console {
    -fx-font-family: "Monospace";
}

.error-label {
    -fx-text-fill: red;
    -fx-font-weight: bold;
}

.info-label {
    -fx-font-weight: bold;
}

.about-window Label {
    -fx-font-size: 14;
    -fx-background-color: transparent;
}

.about-button:hover {
    -fx-background-color: gray;
    -fx-background-radius: 12;
    -fx-cursor: hand;
}

.about-button:hover Label {
    -fx-text-fill: white;
}

/*
 * Dialog stuff
 */

.header-panel .label {
    -fx-font-weight: bold;
}

.property-sheet .scroll-pane .viewport {
    -fx-background-color: base;
}

.property-pane {
    -fx-background-color: base;
}

/*
 * Progress bars
 */

.progress-bar > .track {
    -fx-background-color: base-dark;
}

.progress-bar:indeterminate > .track {
    -fx-background-color: base-dark;
}

.progress-bar:indeterminate > .bar {
    -fx-background-color: gripgreen;
}

/*
 * List and table cells
 */

.indexed-cell {
    -fx-background-color: base;
}

.indexed-cell:odd {
    -fx-background-color: base-light;
}

.indexed-cell:selected, .indexed-cell:pressed {
    -fx-background-color: darkgripgreen;
}

.column-header {
    -fx-background-color: base-dark;
}

.table-view .placeholder {
    -fx-background-color: base;
}

.table-view {
    -fx-padding: 0;
}

/*
 * Socket handles.
 */

.socket-handle {
    -fx-background-radius: 1em;
    -fx-min-width: 1em;
    -fx-min-height: 1em;
    -fx-max-width: 1em;
    -fx-max-height: 1em;
    -fx-cursor: hand;
}

.socket-handle:connecting {
    -fx-background-color: derive(gripgreen, -20%)
}

.socket-handle:connected {
    -fx-background-color: gripgreen;
}

.socket-handle:hover {
    -fx-background-color: gripsandy;
}

/*
 * Preview buttons.
 */

.preview-button {
    -fx-background-color: base-dark;
}

.preview-button:hover {
    -fx-background-color: base;
}

.preview-button:selected {
    -fx-background-color: gripsandy;
}
