.root {
    -fx-font-family: "Roboto";
}

.main-window {
    -fx-pref-width: 100.0em;
    -fx-pref-height: 70.0em;
}

.main-window Label.status {
    -fx-text-fill: #999999;
    -fx-padding: 0.5em 1.0em;
}

.main-window Label.placeholder {
    -fx-text-fill: #555555;
    -fx-font-weight: bold;
    -fx-padding: 1.0em 2.0em;
}

Label.pane-title {
    -fx-text-fill: #555555;
    -fx-font-weight: bold;
    -fx-padding: 1.0em 2.0em;
}

.palette {
    -fx-min-width: 20em;
}

.operation {
    -fx-cursor: hand;
    -fx-hgap: 1em;
    -fx-vgap: 0em;
    -fx-padding: 1em;

    -fx-background-color:
        linear-gradient(to bottom, derive(-fx-color,-15%) 95%, derive(-fx-color,-25%) 100%),
        -fx-inner-border,
        -fx-body-color;
    -fx-background-insets: 0, 1, 2;
}

.operation:hover {
    -fx-color: -fx-hover-base;
}

.operation:pressed {
    -fx-color: -fx-pressed-base;
}

Label.operation-name {
    -fx-font-weight: bold;
}

Label.operation-description {
    -fx-wrap-text: true;
    -fx-alignment: top-left;
}

ImageView.operation-icon {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 32, 0, 4, 4);
}

.sink-window {
    -fx-pref-width: 60.0em;
    -fx-pref-height: 40.0em;
}

.sink-window .table-column#identifierColumn{
    -fx-pref-width: 10em;
}

.sink-window .table-column#typeColumn{
    -fx-pref-width: 10em;
}

.sink-window .table-column#valueColumn {
    -fx-pref-width: 40em;
}

.steps {
    -fx-padding: 1em;
    -fx-spacing: 1em;
}

.step {
    -fx-pref-width: 15em;
}

.step HBox.icons {
    -fx-spacing: 1em;
}

.step HBox.icons .button {
    -fx-padding: 0.2em 0.8em;
    -fx-font-weight: bold;
    -fx-font-color: -fx-dark-color;
    -fx-font-size: 1.5em;
}

.step VBox {
    -fx-spacing: 2em;
}

.step .title {
    -fx-font-weight: bold;
}

.socket {
    -fx-hgap: 0.5em;
    -fx-vgap: 0.5em;
    -fx-spacing: 0.5em;
}

.socket .socket-control {
    -fx-pref-width: 10em;
}

.socket-handle {
    -fx-background-radius: 1em;
    -fx-min-width: 1em;
    -fx-min-height: 1em;
    -fx-max-width: 1em;
    -fx-max-height: 1em;
}

.socket-handle:connecting {
    -fx-background-color:
    -fx-shadow-highlight-color,
        linear-gradient(to bottom, derive(-fx-outer-border, -20%), -fx-outer-border),
        linear-gradient(to bottom,
        derive(-fx-color, -22%) 0%,
        derive(-fx-color, -13%) 20%,
        derive(-fx-color, -11%) 50%);
    -fx-background-insets: 0 0 -1 0, 0, 1;
}

.socket-handle:connected {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, #575757;
}

.socket-handle:connected:focused {
    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-text-base-color;
    -fx-background-insets: -0.2, 1, 2, -1.4, 2.6;
    -fx-background-radius: 1em;
}
.socket VBox {
    -fx-pref-height: 0em;
    -fx-pref-width: 13em;
    -fx-padding: 1em;
}
