        # Step $step.name()$step.num():
#foreach($inp in $step.getInputs())
#if(!$inp.hasValue()||$inp.value().contains("source"))
#set($c = "s"+$step.num())
        #newInput($inp $c)

#end#end
        (#if($step.name().equals("Threshold_Moving"))
self.__lastImage$step.num(), #end#foreach($out in$step.getOutputs())
#output($out)#if($velocityCount < $step.getOutputs().size()),#end#end
) = $tMeth.callOp($step)