.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  height: 100%;
}


body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-transparent {
  background-color: rgba(248, 248, 248, .95);
}

/* Custom page header */
.header {
  /*border-bottom: 1px solid #e5e5e5;*/
  /*margin-bottom: 10px;*/
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -50px; /* negative value of footer height */
  height: 55px;
  clear:both;
  padding-top:20px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  background-color: rgba(248, 248, 248, .80);
  width:100%;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.time-to {
  text-align: center;
  font-family: Bangers;
  font-size: 40px;
  letter-spacing: 2px;
}

.time-to .time-to-header{
  text-align:center;
  -moz-box-shadow: 0 0 2px black;
  -webkit-box-shadow: 0 0 2px black;
  box-shadow: 0 0 1px black;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-box-shadow: 20px;
  background-color: rgba(238, 238, 238, .6);
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    /*XXX: Quick fix to get the elements to line up correctly */
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.date-values {
  text-align:center;
  -moz-box-shadow: 0 0 2px black;
  -webkit-box-shadow: 0 0 2px black;
  box-shadow: 0 0 1px black;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-box-shadow: 20px;
  background-color: rgba(238, 238, 238, .65);
}

.date-values span {
  display: block;
}

.date-values .key {
  font-size: 15px;
}

.rounded-container {
  border-radius: 20px;
  margin: 20px 20px 20px 20px;
  background-color: rgb(238, 238, 238);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-box-shadow: 20px;
}
