#if( $step.name() != "Valve" && $step.name() != "Switch" )
#parse("src/main/resources/edu/wpi/grip/ui/templates/BasicStep.vm")
#elseif( $step.name() == "Valve" )##Valve
#parse("src/main/resources/edu/wpi/grip/ui/templates/Valve.vm")
#else##Switch
#parse("src/main/resources/edu/wpi/grip/ui/templates/Switch.vm")
#end