    @staticmethod
    def $tMeth.name($step.name())(src1, src2):
        """Computes the per channel and of two images.
        Args:
            src1: A numpy.ndarray.
            src2: A numpy.ndarray.
        Returns:
            A numpy.ndarray the and of the two mats.
        """
        return cv2.bitwise_and(src1, src2)