    @staticmethod
    def $tMeth.name($step.name())(src1, src2):
        """Performs a per element min.
        Args:
            src1: A numpy.ndarray.
            src2: A numpy.ndarray.
        Returns:
            The min as a numpy.ndarray.
        """
        return cv2.min(src1, src2)